<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1016041114994-vn2oig77j3jr02m4jtd3ockarkavtv5d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1016041114994-vn2oig77j3jr02m4jtd3ockarkavtv5d</string>
	<key>API_KEY</key>
	<string>AIzaSyA0D_PCa3stdkiRZhbTcGrUuEApq42J93s</string>
	<key>GCM_SENDER_ID</key>
	<string>1016041114994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shamzzz.fanpageapp</string>
	<key>PROJECT_ID</key>
	<string>fanpage-c4d25</string>
	<key>STORAGE_BUCKET</key>
	<string>fanpage-c4d25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016041114994:ios:fbf87e1b50309beba921eb</string>
</dict>
</plist>